<div class="container">
  <div class="secao">
    <h3 class="text-center">Sobre</h3>
  </div>
  <hr />
  <div class="lead">
    Peixe Urbano foi a primeira e maior empresa brasileira de e-commerce local.
  </div>
  <br />
  <div class="lead">
    A primeira cidade em que o Peixe Urbano esteve presente foi Rio de Janeiro,
    seguida de São Paulo, posteriormente se expandindo para todo o Brasil.
  </div>
  <br />
  <div class="lead">
    Em fevereiro de 2021, a empresa encerrou suas atividades com uma dívida de
    pelo menos
    <a
      href="https://diariodorio.com/fora-do-ar-desde-fevereiro-peixe-urbano-encerra-atividades-com-divida-milionaria/"
      >R$ 50 milhões</a
    >.
  </div>
</div>
