a {
  color: #C1E4FF;
}

div.col-md-6,
div.col-md-2 {
  margin: auto;
}

.active {
  color: #FFF;
  font-weight: bolder;
}

.banner {
  margin-bottom: 200px;
  position: relative;
  top: 165px;
}

.banner img {
  width: 100%;
  height: 230px;
}

.logo {
  width: 100%;
}

.navbar {
  background-color: #FFF;
}

.nav-link:hover {
  background-color: #004B9C;
  color: #FFF;
}

.menu {
  background: #006ACB;
}