a {
  color: #C1E4FF;
}

.logo {
  width: 60%;
}

.navbar {
  background-color: #FFF;
}

.active {
  color: #FFF;
  font-weight: bolder;
}

.banner {
  margin-top: 280px;
}

.banner img {
  width: 100%;
  height: 230px
}

.menu {
  background: #006ACB;
}

.nav-link:hover {
  color: #FFF;
}